<div class="container-fluid">
  <div class="row section-footer">
    <div class="col-1-of-4 col-md-3">
      <div class="our-services">
        <i class="fa fa-snowflake-o our-services__icon" aria-hidden="true"></i>
        <h3 class="heading-primary1">Our Services</h3>
        <!-- <p class="our-services__text"> -->
        <ul class="our-services__text">
          <li>Company Formation in India</li>
          <li>Starting Business in India</li>
          <li>Accounts Outsourcing</li>
          <li>Foreign Investment approvals</li>
          <li>Accounts Outsourcing</li>
          <li>Foreign Investment approvals</li>
        </ul>
        <!-- </p> -->
      </div>
    </div>
    <div class="col-2-of-4 col-md-3">
      <div class="free-resources">
        <i class="fa fa-laptop free-resources__icon" aria-hidden="true"></i>
        <h3 class="heading-primary1">Free Resources</h3>
        <!-- <p class="our-services__text"> -->
        <ul class="free-resources__text">
          <li>Company Formation in India</li>
          <li>Starting Business in India</li>
          <li>Accounts Outsourcing</li>
          <li>Foreign Investment approvals</li>
          <li>Accounts Outsourcing</li>
          <li>Foreign Investment approvals</li>
        </ul>
        <!-- </p> -->
      </div>
    </div>
    <div class="col-3-of-4 col-md-3">
      <div class="contact-information">
        <i class="fa fa-address-card-o contact-information__icon" aria-hidden="true"></i>
        <h3 class="heading-primary1">Contact-Details</h3>
        <!-- <p class="our-services__text"> -->
        <ul class="contact-information__text">
          <li>Company Formation in India</li>
          <li>Starting Business in India</li>
          <li>Accounts Outsourcing</li>
          <li>Foreign Investment approvals</li>
          <li>Accounts Outsourcing</li>
          <li>Foreign Investment approvals</li>
        </ul>
        <!-- </p> -->
      </div>
    </div>
    <div class="col-4-of-4 col-md-3">
      <div class="get-social">
        <h3 class="heading-primary4">Get Social</h3>
        <a href="#"><i class="fa fa-facebook-square get-social__icon" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter get-social__icon" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-linkedin-square get-social__icon" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="row section-footer2">
    <div class="col-md-12">
      <div class="section-footer2-copyright">
        <i class="fa fa-copyright section-footer2-copyright__iconcopyright" aria-hidden="true"></i>2019 All right reserved
      </div>
      <div class="section-footer2-createdby">
        <i class="fa fa-thumbs-o-up section-footer2-createdby__thumbsup" aria-hidden="true"></i>Created By Deepak Gupta
      </div>
    </div>
  </div>
</div>
