<div class="container-fluid">
  <div class="section-company-services" id="section-2">
    <h2 class="u-center-text primary-heading col-md-12">OUR SERVICES</h2>
    <div class="row cards">
      <div class="col-1-of-4 col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Auditing & Assurance Services</h5>
            <p class="card-text">We provide various Auditing & Assurance Services to Companies and Firms and Trusts.
              Audit
              includes thorough verification of evidences, vouchers & certifications</p>
            <button class="btn btn-info">Read More..</button>
          </div>
        </div>
      </div>
      <div class="col-2-of-4 col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Income Tax Advisory</h5>
            <p class="card-text">We provide various Auditing & Assurance Services to Companies and Firms and Trusts.
              Audit
              includes thorough verification of evidences, vouchers & certifications</p>
            <button class="btn btn-info">Read More..</button>
          </div>
        </div>
      </div>
      <div class="col-1-of-4 col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Startup Services</h5>
            <p class="card-text">We provide various Auditing & Assurance Services to Companies and Firms and Trusts.
              Audit
              includes thorough verification of evidences, vouchers & certifications</p>
            <button class="btn btn-info">Read More..</button>
          </div>
        </div>
      </div>
      <div class="col-4-of-4 col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Startup Services</h5>
            <p class="card-text">We provide various Auditing & Assurance Services to Companies and Firms and Trusts.
              Audit
              includes thorough verification of evidences, vouchers & certifications</p>
            <button class="btn btn-info">Read More..</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row cards">
      <div class="col-1-of-4 col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> Goods & Service Tax (GST)</h5>
            <p class="card-text">We provide various Auditing & Assurance Services to Companies and Firms and Trusts.
              Audit
              includes thorough verification of evidences, vouchers & certifications</p>
            <button class="btn btn-info">Read More..</button>
          </div>
        </div>
      </div>
      <div class="col-2-of-4 col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Company Formation in India</h5>
            <p class="card-text">We provide various Auditing & Assurance Services to Companies and Firms and Trusts.
              Audit
              includes thorough verification of evidences, vouchers & certifications</p>
            <button class="btn btn-info">Read More..</button>
          </div>
        </div>
      </div>
      <div class="col-3-of-4 col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Company Law Services & Compliances</h5>
            <p class="card-text">We provide various Auditing & Assurance Services to Companies and Firms and Trusts.
              Audit
              includes thorough verification of evidences, vouchers & certifications</p>
            <button class="btn btn-info">Read More..</button>
          </div>
        </div>
      </div>
      <div class="col-4-of-4 col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Company Law Services & Compliances</h5>
            <p class="card-text">We provide various Auditing & Assurance Services to Companies and Firms and Trusts.
              Audit
              includes thorough verification of evidences, vouchers & certifications</p>
            <button class="btn btn-info">Read More..</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
