  <div class="container-fluid">
    <div class="row section-header-search">
      <div class="col-1-of-2 col-sm-3">
        <img src="../../../assets/images/ca.jpeg">
      </div>
      <div class="col-2-of-2 col-sm-9">
        <button class="btn">REQUEST A CALLBACK</button>
        <a href="#"><i class="fa fa-facebook-square icon_facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter icon_twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-linkedin-square icon_linkedin" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
