<div class="section-what-we-do" id="section-1">
  <div class="u-center-text">
    <h1 class="primary-heading col-md-12">WHY US</h1>
  </div>
  <p class="primary-heading--sub1">We assist clients in Audits, Tax & Accounting and other services. We at ANG provide
    many services for Income Tax, International Tax and Transfer
    Pricing , Goods and Services
    Tax
    ( GST), Book Keeping & Accounting in Tally as well as Quickbooks Accounting , Auditing , India Entry Services
    and Overseas Business Setup Services and many more financial services.</p>
  <div class="row col-md-12">
    <div class="col-1-of-3 col-md-4">
      <div class="card">
        <div class="card__side card__side--front1">
          <h2 class="card__side--front1--heading">Who we Are?</h2>
        </div>
        <div class="card__side card__side--back1">
          <!-- <h2 class="card__side--back--heading">Who we are?</h2> -->
          <div class="card__side--back1--text">We are prominent Chartered Accountants in India. We offer services in
            New Delhi and
            other
            major cities in India, like accounts outsourcing, auditing, company formation in India, Business taxation,
            corporate compliance, starting business in India, registration of foreign companies, taxation of
            expatriates
            etc.
            <ul>
              <li>MultiNational Companny exposure</li>
              <li>Talented Staff</li>
              <li>Good Resources</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1-of-3 col-md-4">
      <div class="card">
        <div class="card__side card__side--front2">
          <h2 class="card__side--front2--heading">Why Choose Us?</h2>
        </div>
        <div class="card__side card__side--back2">
          <!-- <h2 class="card__side--back--heading">Who we are?</h2> -->
          <div class="card__side--back2--text">We are prominent Chartered Accountants in India. We offer services in
            New Delhi and
            other
            major cities in India, like accounts outsourcing, auditing, company formation in India, Business taxation,
            corporate compliance, starting business in India, registration of foreign companies, taxation of
            expatriates
            etc.
            <ul>
              <li>MultiNational Companny exposure</li>
              <li>Talented Staff</li>
              <li>Good Resources</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1-of-3 col-md-4">
      <div class="card">
        <div class="card__side card__side--front3">
          <h2 class="card__side--front3--heading">How we are Different!</h2>
        </div>
        <div class="card__side card__side--back3">
          <!-- <h2 class="card__side--back--heading">Who we are?</h2> -->
          <div class="card__side--back3--text">We are prominent Chartered Accountants in India. We offer services in
            New Delhi and
            other
            major cities in India, like accounts outsourcing, auditing, company formation in India, Business taxation,
            corporate compliance, starting business in India, registration of foreign companies, taxation of
            expatriates
            etc.
            <ul>
              <li>MultiNational Companny exposure</li>
              <li>Talented Staff</li>
              <li>Good Resources</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
