<div class="container-fluid">
  <div class="row welcome">
    <div class="col-md-12">
      <h1 class="heading-primary">
        <span class="heading-primary-sub1">Welcome To Tarun Sharma & Co.</span>
        <span class="heading-primary-sub2">One Step Solution for Accounting, Tax & Audit Firm</span>
        <span class="heading-primary-sub3">Do You Need Any Advice for START-UP ? We Can Help You !</span>
      </h1>
      <button class="btn btn-info">Book A Meeting</button>
    </div>
  </div>
</div>
