<div class="container-fluid">
  <div class="section-people-stories" id="section-3">
    <h2 class="u-center-text primary-heading col-md-12">Our Success Stories</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="story">
          <figure class="story__shape">
            <!-- <img src="../../../assets/images/decode.png " class="story__img"> -->
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYX1J9b9QjPPMhq1RN4Jg1K_fJ5-zAkUr7afEfCW5FLQpXigpx"
              class="story__img">
            <figcaption class="story__caption">DECODE</figcaption>
          </figure>
          <div class="story__text">
            <h3 class="story__text--heading">Awesome work done by this orgainsation.</h3>
            <p>I met with this orgainization about an year ago. Now it is like my Family. Handling of work become smooth
              now and now we can focus on your futher extension not on this day to day GST work now we can focus on your
              futher extension not on this day to day GST work. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="story">
          <figure class="story__shape">
            <img src="../../../assets/images/tikkajunction.png" class="story__img">
            <figcaption class="story__caption">tikka junction</figcaption>
          </figure>
          <div class="story__text">
            <h3 class="story__text--heading">Awesome work done by this orgainsation.</h3>
            <p>I met with this orgainization about an year ago. Now it is like my Family. Handling of work become smooth
              now and now we can focus on your futher extension not on this day to day GST work now we can focus on your
              futher extension not on this day to day GST work. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
